<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Dashboard| Log in</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js" defer ></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js" defer ></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer ></script>
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="/"></b>CombatPugilist Admin Panel</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in to start your session</p>
      <form id="login">
        <div class="input-group mb-3">
            
          <input type="text" class="form-control" placeholder="Email" name="phone" >
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" name="password" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <span id="errormsg"></span>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">
                Remember Me
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button class="btn btn-primary btn-block">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

    
      <!-- /.social-auth-links -->

      <p class="mb-1">
        
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
  <script>
document.addEventListener("DOMContentLoaded",function(){
    var err=getQueryStringValue('error');
    if(err==='1'){
      document.getElementById('errormsg').innerHTML +=  
              '<p style="color:red;">Wrong phone number or password!</p>'; 
    }
    else{
        
    }
    var firebaseConfig = {
      apiKey: "AIzaSyAFqqHgK1BCualtGBwvXMnqFYeXnCcmZcY",
      authDomain: "combatpugilist-01.firebaseapp.com",
      databaseURL: "https://combatpugilist-01.firebaseio.com",
      projectId: "combatpugilist-01",
      storageBucket: "combatpugilist-01.appspot.com",
      messagingSenderId: "67045727386",
      appId: "1:67045727386:web:b19419660cf6ed88885323"
    };
          firebase.initializeApp(firebaseConfig);

          firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

          document.getElementById("login").addEventListener("submit", (event) => {
              event.preventDefault();
              const login = event.target.phone.value;
              const password = event.target.password.value;
              console.log("LOGIN: "+login);

              firebase
                .auth()
                .signInWithEmailAndPassword(login, password)
                .catch(function(error){
                    window.location.assign("/login?error=1");
                })
                .then(({ user }) => {
                  return user.getIdToken(/* forceRefresh */ true).then((idToken) => {
                    return fetch("/sessionLogin", {
                      method: "POST",
                      headers: {
                        Accept: "application/json",
                        "Content-Type": "application/json",
                        "CSRF-Token": Cookies.get("XSRF-TOKEN"),
                      },
                      body: JSON.stringify({ idToken, uid: user.uid }),
                    });
                  });
                })
                .then(() => {
                  return firebase.auth().signOut();
                })
                .then(() => {
                   window.location.assign("/");
                })
              return false;
            });
});
  </script>
  <script>
  function getQueryStringValue (key) {  
  return decodeURIComponent(window.location.search.replace(new RegExp("^(?:.*[&\\?]" + encodeURIComponent(key).replace(/[\.\+\*]/g, "\\$&") + "(?:\\=([^&]*))?)?.*$", "i"), "$1"));  
}  
</script>
</body>
</html>
